<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 对应mapper接口的全类名 -->
<mapper namespace="com.example.demo.mapper.secondDataSource.TestMapper">

    <resultMap id="testMap" type="Test" >
        <result property="data1" column="DATA1"/>
        <result property="data2" column="DATA2"/>
    </resultMap>

    <select id="findTestByData2" resultMap="testMap">
        select * from test where data2 =#{data2}
    </select>

    <insert id="addTest">
        insert into test values (#{data1}, #{data2})
    </insert>

</mapper>