<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 对应mapper接口的全类名 -->
<mapper namespace="com.example.demo.mapper.primaryDataSource.AcctInfoMapper">

    <!-- domain实体类 与 数据库表 做映射，   type -> 实体类全类名，由于配置过type-aliases-package故只需配置类名  ，  id -> 这个resultMap 的唯一引用id -->
    <resultMap id="AcctInfoMap" type="AcctInfo">
        <id property="acctNo" column="acct_no"/>
        <result property="acctName" column="acct_name"/>
        <result property="acctMoney" column="acct_money"/>
    </resultMap>

    <!-- id:对应mapper接口的方法名,  resultMap: 对应定义的上方的resultMap，返回对应的实体类 -->
    <!-- 返回值会自动根据对象数量映射成单个对象或对象集合 -->
    <!-- mapper接口中有参数的方法：已经在接口中通过注解的方式传入，此处不需再次接收 -->
    <select id="findByAcctNo" resultMap="AcctInfoMap">
        select * from acct_info where acct_no = #{acctNo}
    </select>

    <select id="findAcctInfoListByMoney" resultMap="AcctInfoMap">
        select * from acct_info where acct_money > #{acctMoney}
    </select>

    <insert id="addAcctInfo">
        insert into acct_info values (#{acctName}, #{acctNo}, #{acctMoney})
    </insert>

    <delete id="deleteAcctInfoByAcctNo">
        delete from acct_info where acct_no = #{acctNo}
    </delete>

    <update id="updateAcctInfoByAcctNo">
        update acct_info set acct_money = #{acctMoney} where acct_no = #{acctNo}
    </update>

</mapper>